*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./Images/empresa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
}

.container{
    position: relative;
    background-color: #00000000;
    width: 300px;
    height: 350px;
    border: 2px solid #ffffff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo{
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

.round{
    border-radius: 100%;
    width: 120px;
    height: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap-input-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 80%;
    position: relative;
}

.eye{
    position: absolute;
    right: 10px;
    bottom: 0px;
    opacity: 0.7;
}

.eye:hover{
    cursor: pointer;
    opacity: 1;
}

.wrap-input-label label{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

.wrap-input-label input{
    background-color: transparent;
    padding: 8px 0px;
    border: none;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    font-size: 18px;
}

input::placeholder{
    color: #ffffff;
    font-size: 16px;
}

input:focus{
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    border-bottom: 2px solid #ffffff;
}

.btn-login{
    padding: 10px;
    width: 81%;
    background-color: #dfdbd6;
    border-radius: 999px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #302e2e;
    transition: all 200ms ease-in-out;
}


.btn-login:hover{
    cursor: pointer;
    color: #000000;
    border: 2px solid #ffffff00;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.error-div{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ffffff;
    gap: 1vh;
    padding: 20px;
    position: absolute;
    bottom: 5%;
    font-size: 14px;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.error-div button{
    background-color: transparent;
    border: none;
    opacity: 0.7;
    transition: all 200ms linear;
}

.error-div button:hover{
    cursor: pointer;
    opacity: 1;
}